body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;   
    height: 100vh;      
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border: solid 5px;
    border-color: #f19611;
    border-radius: 15px;
    margin: 5px;
}

.titulo-encabezado{
    font-weight: bold;
    font-size: 45px;
    color: white;
}

.logo-encabezado{
    width: 100px;
    height: 100px;
    padding: 5px;
}

.contenedor-principal{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    height: auto;
}

.titulo-productos{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.catalogo-productos{
    box-sizing: border-box;
    gap:5px;
}

.productos-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80vh;
    overflow-y: auto;
    width: 100%;
    background-color: #f7f4ee;
    box-shadow: -12px 10px 5px  rgba(66, 61, 61, 0.25);
    margin-bottom: 90px;
    padding-bottom: 100px;
}

.card{
    justify-content: center;
    padding: 10px 15px 7px 11px;
    margin: 20px 5px 10px 10px;
    width: 230px;
    height: 310px;
    background-color: #f19611;
    border: 3px solid #323131;
    border-radius: 10px;
    box-shadow: -5px 6px 5px rgba(0, 0, 0, 0.25);
}

.img-contenedor{
    width: 230px;
    height: 230px;
    object-fit: cover;
    object-position: center;
    border-radius: 4%;
    border: 3px solid #151414;
    transition: transform 0.3s ease-in-out;
}

.img-contenedor:hover{
    transform: scale(1.2);
}

.card-contenedor--info{
    padding-top: 10px;
    font-weight: normal;
    font-size: 16px;
}
.card-contenedor--precio{
    font-size: 18px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boton-eliminar{
    width: 30px;
    height: 30px;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}
.boton-eliminar:hover{
    background-color: rgb(193, 210, 195);
    border-radius: 30px;
}

.img-trash{
    width: 20px;
    height: 20px;
    margin: 0 0 0 -1.3px;  
}

.contenedorDelFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;

}

.titulo-formulario{
    font-size: 30px;
    font-weight: bold;
}

.formulario-productos{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px 5px 5px 5px;
    gap: 20px;
}

input{
    border: solid 3px;
    border-radius: 15px;
    border-color: #f19611;
    height: 30px;
}

.boton-contenedor{
    display: flex;
    justify-content: space-around;
}

.boton-submit{
    width: 70px;
    height: 30px;
    background-color: #000000;
    border: solid 3px;
    border-color: #f19611;
    border-radius: 5px;
    padding: 5px 0px;
    font-weight: bold;
    color: white
}

.boton-submit:hover{
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
    transform: scale(1.1);
}

.boton-limpiar{
    width: 70px;
    height: 30px;
    border: solid 3px;
    background-color: #ffffff;
    border-color: #000000;
    border-radius: 5px;
    padding: 5px 0px;
    font-weight: bold;
}

.boton-limpiar:hover{
    background-color: #f19611;
    border-color: #000000;
    color: #ffffff;
    font-weight: bolder;
    transform: scale(1.1);
}

.contedor-footer{
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-top: solid 5px;
    border-color: #f19611;    
}

.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.texto-footer{
    line-height: 20px;
    padding-bottom: 10px;
}

/*Mobile*/
@media (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column-reverse;
        margin: 10px;
    }

    .boton-contenedor{
        padding-bottom: 25px;
    }

}

